<div id="filter">
    <label for="filterBar">Filter through your favourite books :</label><br>
    <input type="text" id="filterBar" name="filterBar" required size="100" onkeyup="keyUpDelay()"><br>
</div>