<form action="/result" method="get">
    <label for="searchBar">Search for a book :</label>
    <input type="query" id="searchBar" name="queryBook" required>
    <button type="submit">Search</button>
</form>