<form action="/" method="get">
    <label for="searchBar">Search for a book :</label><br>
    <input type="query" id="searchBar" name="queryBook" required size="100"><br>
    <button type="submit">Search</button>
</form>