body {
    margin: 0;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 0.1fr auto auto;
    grid-gap: 0.5rem;
    background-size: cover;
    font-size: 1rem;
    font-family: customFont, serif;
    height: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: olivedrab;
    grid-column: 1;
    grid-row: 1;
}

nav a {
    margin: auto;
    color: white;
    font-size: 1.8rem;
}

#search {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    font-size: 1.5rem;
}

label {
    margin: 0.5rem;
}

input {
    border-radius: 0.5rem;
    margin: 1.5rem;
    height: 1.2rem;
}

button {
    border-radius: 0.3rem;
    font-size: 1.3rem;
}

#books_found, #books_faved {
    text-align: center;
}

#books_found {
    display: none;
    grid-column: 1;
    grid-row: 3;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.book_container {
    display: inline-block;
    padding: 0.5%;
    margin-top: 2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 0.1rem black solid;
}

#books_faved p {
    font-size: 1.25rem;
}

#edit_icon_img {
    margin: 0.25rem;
}